[Unit]
Description=Zero-Config Bluetooth Tethering Daemon
After=bluetooth.service hostapd.service
Wants=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/bt-tether daemon
ExecStop=/usr/local/bin/bt-tether stop
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=multi-user.target
