[Unit]
Description=KUKA WiFi Hotspot - Set wlan0 IP Address
After=network.target
Before=hostapd.service dnsmasq.service
Wants=hostapd.service dnsmasq.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Set IP address for wlan0 so hostapd and dnsmasq can use it
ExecStart=/bin/sh -c 'ip addr flush dev {{ hotspot_interface }} && ip addr add {{ hotspot_ip }}/24 dev {{ hotspot_interface }} && ip link set {{ hotspot_interface }} up'

[Install]
WantedBy=multi-user.target
